configuration {
  display-drun: "Applications 🚀";
  display-filebrowser: "Files 📂";
  display-window: "Window 💻";
  modes: [ drun, filebrowser, window ];
  //combi-modes: [ window, drun, run ];
  font: "RobotoMono Nerd Font";

}

@theme "dmenu"
 
/* Insert theme modifications after this */


